<div class="mb-5 pt-3">
    <a href="/homepage/create/"><button id="create-post" class="button is-primary is-pulled-right">What are you giving away?</button></a>

    <h2 class="title pb-4">Current Offers!</h2>
    <hr>
    {{#if posts.length}}
</div>

{{#each posts as |post|}}

<div class="card">
    <div class="card-header">
        <h3><a class="link" href="/post/{{post.id}}">{{post.title}}</a></h3>
        <p>Posted by {{post.user.username}} on {{format_date post.created_at}}</p>
    </div>
    <p class="card-body">{{post.content}}</p>
    <button type="button" class="button is-link delete-post-btn" id="delete-post-btn">Claim Post</button>
</div>

</div>
{{/each}}

{{else}}
<h6 class="pb-4 has-text-centered is-italic">no posts</h6>

{{/if}}

<script src="/javascript/claim.js"></script>